.container{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.first{
    background-color: lightblue;
    width: 100px;
}
.second{
    background-color: lightpink;
    width: 200px;
}
.row2-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.two{
    background-color: black;
    color: white;
}
