.pp{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.pp-div{
    height: 250px;
    width: 250px;
    position: fixed;
}
.off{
    font-family: arial;
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: black;
    color: white;
    padding: 5px 5px;
}
.opac{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-button{
    padding: 7px 8px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}